.story{
    background-color: #FFF8F5;
    &__box{
        display: flex;
        padding-bottom: 125px;
    }
    &__contents{
        padding-left: 45px;
    }
    &__contents > h3{
        font-family: 'Cormorant Infant';
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.2px;
        color: #292E36;
    }
    &__contents > p{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #555555;
    }
    &__contents__list{
        display: flex;
        align-items: center;
        list-style: none;
    }
    &__contents__list__item{
        margin-right: 51px;
    }
    &__contents__list__item__desc{
        width: 237px;
    }
    &__contents__name > h5{
        padding-bottom: 20px;
    }
}